
<%= form_for ([hunt, comment]) do |f| %>
  <div class="field">
    <h3><%= f.label :comment %></h3>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <h3><%= f.submit 'Post your comment' %></h3>
  </div>
<% end %>
