


<% @task.details = "Get owner's name of dutch dream !" %>
<h1><%= @task.details %></h1>
<% @task.address = "21 vaughan road, Toronto, ON" %>
<h2>Locations:</h2>
<p id="address"><%= @task.address %></p>

<div id="mapid">

</div>
