<h1>Edit: <span><%=@hunt.name%><span></h1>
  <div class="links_nav">
    <%=  link_to("Back to Hunt ", hunt_path(@hunt)) %>
  </div>


<%= render 'hunts/form_new_hunt', hunt: @hunt, category: @category, categories: @categories %>

<div class="delete_hunt">
  <%= link_to('Delete Hunt', hunt_path(@hunt), method: :delete, data: {confirm: "Are you sure you want to delete this hunt?"}) %>
</div>
