<div class = "about">
  <h1>This is the final project of the August '18 Web developement cohort.</h1>
  <h2>The model:</h2>
  <div class="model_pic">
    <%= image_tag 'final_modeling_urban_hunter.png', :class => "model_img", :width => "965", :length =>"561" %>
  </div>
</div>
