<h1>Welcome to Urban Hunter</h1>

<div class="intro">
  <h2>Join the Hunt !</h2>
  <p>This is the intro</p>
</div>

<div class="description">
  <h2>Description</h2>
  <p>This is the description</p>
</div>


<div class="images">
  <h2>Images</h2>

  <div class="image">
    <img src="https://picsum.photos/200/300?image=1" alt="">
  </div>

  <div class="image">
    <img src="https://picsum.photos/200/300?image=20" alt="">
  </div>

  <div class="image">
    <img src="https://picsum.photos/200/300?image=30" alt="">
  </div>

</div>

<div class="categories">
<h2>Categories</h2>
  <% @categories.each do |category| %>
    <div class="category">
      <%= category.name %>
    </div>
  <% end %>
</div>
