<ul class = "team">
  <p>Nicolas  |
  <a href="https://www.linkedin.com/in/nicolas-delforno/"> LinkedIn</a></p>
  <p>Kevin  |
  <a href="https://www.linkedin.com/in/kevin-diep-2081b513a/"> LinkedIn</a></p>
  <p>Mamun  |
  <a href="https://www.linkedin.com/in/mamunur-rashid-5551a811/"> LinkedIn</a></p>
  <div class = "about_cf">
    <p>Constantine  |
    <a href="https://www.linkedin.com/in/constantinefleshtor/"> LinkedIn</a></p>
      <div class = "pic_text">
        <div class="cf_pic">
          <%= image_tag 'cf_pic.jpg', :class => "pic_img", :width => "150", :length =>"150" %>
        </div>
          <p>Senior Financial Analyst with 10 years of experience who left the corporate world
            to become a web developer to pursue a coding hobby. As this is a huge career change
            I have completed an immersive full stack webdev bootcamp at Bitmaker and I am keen
            to build upon my knowledge and continue to learn within this sector. Motivated,
            with strong work ethic and eager for a new challenge.</p>
      </div>
  </div>
</ul>
