<ul class = "team">
  <p>Nicolas  |
  <a href="https://www.linkedin.com/in/nicolas-delforno/"> LinkedIn</a></p>
  <p>Kevin  |
  <a href="https://www.linkedin.com/in/kevin-diep-2081b513a/"> LinkedIn</a></p>
  <p>Mamun  |
  <a href="https://www.linkedin.com/in/mamunur-rashid-5551a811/"> LinkedIn</a></p>
  <p>Constantine  |
  <a href="https://www.linkedin.com/in/constantine-fleshtor-4a5946171/"> LinkedIn</a></p>
</ul>
