<ul class = "team">
  <li>Nicolas  |
  <a href="https://www.linkedin.com/in/nicolas-delforno/"> LinkedIn</a></li>
  <li>Kevin  |
  <a href="https://www.linkedin.com/in/kevin-diep-2081b513a/"> LinkedIn</a></li>
  <li>Mamun  |
  <a href="https://www.linkedin.com/in/mamunur-rashid-5551a811/"> LinkedIn</a></li>
  <li>Constantine  |
  <a href="https://www.linkedin.com/in/constantine-fleshtor-4a5946171/"> LinkedIn</a></li>
</ul>
