html{
  font-family: 'Josefin Sans', sans-serif;
}
body {
  margin: 0;
  background-image: linear-gradient(rgba(5, 180, 255, 0.3), rgba(255, 255, 255, 0.9)), url("https://i.pinimg.com/originals/a7/fc/1f/a7fc1f3874aee04ceafaacfed6870e99.jpg");
  // background-color: rgba(255, 255, 255, 0.5);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

#main_to_slide {
  padding: 0;
}

.top_left, .top_center, .top_right {
  display: inline-block;
  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }
}
.navigation_bar {
  margin-bottom: 100px;
}

.user_options {
  padding-left: 0px;
  margin-right: 350px;

  li {
    list-style-type: none;
    display: block;
    margin: 25px;
  }
  a:hover {
    background-color: #f19f4d;
  }
  a {
    background-color: #f19f4d;
    padding: 10px;
    text-decoration: none;
    font-size: 35px;
    margin: 10px;
    color: white;
    border-radius: 15px;
    @media screen and (max-width: 600px) {
      font-size: 10px;
    }
  }
  .sign_in{
    margin: 25px;
  }

  .login_button{
    padding-right: 22px;
    padding-left: 22px;
  }
}

.nav_1 {
  padding-top: 70px;
  // background-color: rgba(255, 255, 255, 0.2);
  height: 200px;
  text-align: center;
  .top_center {
    .logo_text {
      box-sizing: border-box;
      text-decoration: none;
      color: white;
      font-size: 100px;
      display: inline-block;
      text-shadow:
        4px 4px 0 #000,
      -2px -2px 0 #000,
       2px -2px 0 #000,
       -2px 2px 0 #000,
        2px 2px 0 #000;
      @media screen and (max-width: 1000px) {
      font-size: 30px;
      }
    }
  }
  .top_right {
    position: relative;
    bottom: 150px;
    left: 680px;
    @media screen and (max-width: 600px) {
      text-align: center;
    }
  }
}



.nav_2 {
  text-align: center;
  .search_bar {
    #search_form {
      display: inline-flex
    }
  }
  .open_nav {
    margin-left: 150px;
    .open_button {

    }
    span {
      font-size: 100px;
    }
  }
}

.search_field {
  width: 600px;
}


h1{
  color: white;
  text-align: center;
}


footer {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 50px;
}

.info_nav {
  .info_list {
    list-style-type: none;
    text-align: center;
    display: inline;
    li {
      color: black;
      display: inline;
      padding-left: 10px;
      padding-right: 10px;

    }
    a {
      color: black;
      background-color: yellow;
      padding: 3px;
    }
    p {
      color: black;
    }
  }
}
