// Place all the styles related to the Hunt controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//styling for search_results

.index_hunt > h3 > .hunt_name > a {
  color: rgb(155, 81, 21);
  font-size: 35px;
}

//styling for index_hunt page

.index_hunt > h3 > span > a:hover {
  color: red;
}

.block {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  padding: 0.5em;
  @media screen and (max-width: 1400px) {
   display: block;
  }
}

.index_hunt {
  padding: 10px 10px;
  background: rgba(252, 227, 207, 0.3);
  border-radius: 50px;
  margin: 15px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.index_hunt:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background: rgba(252, 227, 207, 0.7);
}

.all-hunts {
  font-size: 70px;
}

.create_hunt {
  color: white;
  font-size: 70px;
  font-weight: bold;
}

.categories_hunts > h2 > span {
  color: white;
  font-size: 50px;
  font-weight: bold;
}

.categories_hunts > h2 > span > a:hover {
  color: red;
}



.block > .categories_hunts > .index_hunt > h3 > a {
  color: rgb(155, 81, 21);
  font-size: 35px;
  // text-decoration: underline;
}

.block > .categories_hunts > .index_hunt > h3 > span {
  color: white;
  font-size: 25px;
}

.all-hunts, h2 {
  text-align: center;
}

.index_hunt > h3 > span > a {
  // text-decoration: underline;
}

.block > .categories_hunts > .index_hunt > h3 > a:hover {
  color: red;
}

.index_hunt > h3 > span > a:hover {
  color: red;
}

//styling for show_hunt page

.new_hunt, .edit_hunt {
  border: 1px solid #96dbe8;
  text-align: center;
  width: 500px;
  margin: 50px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.hunt_name {
  font-size: 70px;
}

.index_hunt_show > h3 > a {
  color: rgb(155, 81, 21);
  font-size: 35px;
  // text-decoration: underline;
}

.index_hunt_show > h3 > span {
  color: white;
  font-size: 25px;
}

.index_hunt_show > h3 > span > a {
  // text-decoration: underline;
}

.index_hunt_show > h3 > span > a:hover {
  color: red;
}

fieldset, #hunt_name, #hunt_hunt_date, #hunt_hunt_time, #hunt_max_participants{
  width: 100%;
  padding: 10px;

  border: 2.5px solid #96dbe8;
  border-radius: 3px;
  box-sizing: border-box;

  font-size: 18px;

  outline: none;
}

legend{
  font-weight: bold;
}

.back_link,.links_nav{
  text-align: center;
}

.hunt{
  list-style: none;
  display: inline-block;
  margin: 10px;
  border: 2px solid white;
  padding: 10px;
  width: 300px;
  border-radius: 7px;
  box-shadow: 5px 8px;
}

.participations{
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
}

.hunt_show{
  text-align: center;
}

.hunt_participants > li > span > a {
  color: #f19f4d;
}

.hunt_participants > li > a:hover {
  color: red;
}

.join_hunt, .edit_hunt_button, .delete_hunt {
  margin: 5px;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 0;
  background: #f19f4d;
  border-radius: 3px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
	-webkit-font-smoothing: antialiased;

  cursor: pointer;

}



#mapid_all {
  height: 520px;
  width: 85%;
  margin: 0px auto;
  z-index: 0;
}
