// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#mapid {
  height: 520px;
  z-index:0;
 }

.Task_form, .new_completed_task{

  border: 1px solid #96dbe8;
  text-align: center;
  width: 350px;
  margin: 50px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  a {
    width: 100%;
    padding: 10px;
    border: 0;
    background: #f19f4d;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }

}

.end_tasks {
  width: 100%;
  padding: 10px;
  border: 0;
  background: #f19f4d;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

.tasks {
  margin-bottom: 10px;
}

.task {
  margin: 10px;
  display: inline-block;
  width: 300px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 7px;
}



.error_css{


    color: red;
    font-weight: bold;
    // border: 5px solid red;

    text-align: center;

    ul{

      color: red;
      text-align: left;
    }


    }


#task_details, #task_address, #task_neighbourhood{
  width: 100%;
  padding: 10px;

  border: 1px solid #96dbe8;
  border-radius: 3px;
  box-sizing: border-box;

  font-size: 18px;


  outline: none;
}

// .task_info{
//   margin: 0px;
//   text-align: center;
//   border: 2px solid white;
//   width: 300px;
//   border-radius: 7px;
// }

.completed_task {
  display: inline-block;
  width: 300px;
  img{
    width: 300px;
    border: 2px solid white;
    border-radius: 7px;
  }
}

.add_new_task{
  margin: 5px;
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 0;
  background: #f19f4d;
  border-radius: 3px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
	-webkit-font-smoothing: antialiased;

  cursor: pointer;
}
.edit_task{
  list-style-type: none;
  li{
    display: inline;
  }
  a{
    color: #f96409;
  }
}
