// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign_up_form {
  border: 1px solid #96dbe8;
  text-align: center;
  display: none;
  width: 350px;
  margin: 20px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: fixed;
  top: 0px;
  z-index: 600;
  background-color: white;
  left: 40%;
}

.edit_user{
  display: block;
  border: 1px solid #96dbe8;
  text-align: center;
  width: 350px;
  margin: 50px auto 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 7px;
  box-shadow: 0 2px 5px #000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  background-color: white;
  left: 40%;
  bottom: 5%;
}
.security{
  border: none;
}

.submit {
  text-align: center;
  padding-top: 10px;
  width: 100%;
  padding: 10px;
}

button{
  border: 0;
  background: rgb(204, 148, 93);
  border-radius: 3px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  -webkit-font-smoothing: antialiased;

  cursor: pointer;
}

.close_sign_up{
  text-align: right;
}

#user_info{
  margin-bottom: 50px;
  p {
    font-size: 35px;
  }
  h1{
    color: white;
    margin-bottom: 30px;
    font-weight:bold;
  }
}

.edit_profile{
  margin: 10px;
  a{
    width: 100%;
    padding: 10px;
    background: #f19f4d;
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
  }
}
