// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hero {
  background-color: blue;
  padding: 10px;
  color: white;
}

.welcome_section  {
  margin-left: 20%;
  margin-right: 20%;
  background-color: #a2e295;
  .welcome_content {
    padding: 20px;
      a, h1, h2, p {
        color: white;
    }
  }
}


.categories {
  // background-color: red;
  text-align: center;
  .category {
    display: inline-block;
    width: 100px;
    background-color: grey;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 5px black;
    a {
      text-decoration: none;
      position: relative;
      top: 40px;
    }
    @media screen and (max-width: 600px) {
        width: 45%;
    }
  }
}

.intro{
  text-align: left;
  .intro_text {
    h2, p {
      text-align: left;
    }
  }
}
      

.description {
  text-align: left;
  .description_text {
    h2, p {
      text-align: left;
    }
  }
}

.images{
  text-align: center;
  .image{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
  }
  img {
    border-radius: 15px;
    border-color: black;
    border-style: solid;
  }
}


.categories{
  text-align: center;
}
.category{
  text-align: center;
  display: inline;
  padding: 10px;
}

.search_form {
  width: 15%;
}

#hunt{
  border: 1px solid black;
}
